@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, menu {
    margin: 0;
    padding: 0
}

fieldset, img {
    border: 0
}

:focus {
    outline: 0
}

address, caption, cite, code, dfn, th, var, optgroup {
    font-style: normal;
    font-weight: 400
}

strong {
    font-weight: 400
}

em {
    font-style: normal
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
    font-family: sans-serif
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

code, kbd, samp, tt {
    font-size: 100%
}

input, button, textarea, select {
    *font-size: 100%;
    border: 0
}

body {
    background: #fff;
    color: #5e5e5e;
    font: 14px/2em "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    text-align: left
}

sup, sub {
    font-size: 100%;
    vertical-align: baseline
}

:link, :visited, ins {
    text-decoration: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

a:link, a:visited {
    color: #5e5e5e
}

a:hover {
    color: #c9394a
}

a:active {
    color: #666
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.l {
    float: left
}

.r {
    float: right
}

.clear {
    height: 0;
    overflow: hidden;
    clear: both
}

.hide {
    display: none
}

.btn.hide {
    display: none
}

a.hidefocus {
    outline: 0
}

button.hidefocus::-moz-focus-inner {
    border: 0
}

a:focus {
    outline: 0;
    -moz-outline: 0
}

input, textarea {
    outline: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:focus, a:active, a:hover {
    outline: 0;
    -moz-outline: 0
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: imwap;
    src: url(/statics/css/imwap.ttf);
    font-weight: 400;
    font-style: normal
}

[class^=imwap-], [class*=" imwap-"] {
    font-family: imwap !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.imwap-path－introduce:before {
    content: "\e91b"
}

.imwap-path－chapter:before {
    content: "\e91c"
}

.imwap-path-evaluation:before {
    content: "\e918";
    color: #666
}

.imwap-buy－success:before {
    content: "\e919"
}

.imwap-buy－failure:before {
    content: "\e91a"
}

.imwap-icon-imooc:before {
    content: "\e914"
}

.imwap-I-of-course:before {
    content: "\e910";
    color: #474747
}

.imwap-I-practice:before {
    content: "\e911";
    color: #5f5f5f
}

.imwap-My-article:before {
    content: "\e912"
}

.imwap-my-question:before {
    content: "\e913"
}

.imwap-get_app:before {
    content: "\e90f";
    color: #5d5d5d
}

.imwap-qq_o:before {
    content: "\e90c"
}

.imwap-wechat_o:before {
    content: "\e90d"
}

.imwap-weibo_o:before {
    content: "\e90e"
}

.imwap-weibo:before {
    content: "\e909"
}

.imwap-wechat:before {
    content: "\e90a"
}

.imwap-qq:before {
    content: "\e90b"
}

.imwap-collection:before {
    content: "\e904";
    color: #666
}

.imwap-comment:before {
    content: "\e906"
}

.imwap-add_question:before {
    content: "\e907"
}

.imwap-code:before {
    content: "\e86f"
}

.imwap-sort:before {
    content: "\e164"
}

.imwap-close:before {
    content: "\e908"
}

.imwap-nav_menu:before {
    content: "\e905"
}

.imwap-more_horiz:before {
    content: "\e5d3"
}

.imwap-more_vert:before {
    content: "\e5d4"
}

.imwap-arrow_l:before {
    content: "\e903"
}

.imwap-arrow_r:before {
    content: "\e915"
}

.imwap-arrow_u:before {
    content: "\e916"
}

.imwap-arrow_d:before {
    content: "\e917"
}

.imwap-cart:before {
    content: "\e8cc"
}

.imwap-checkbox:before {
    content: "\e834"
}

.imwap-checkbox_o:before {
    content: "\e835"
}

.imwap-radiobutton:before {
    content: "\e837"
}

.imwap-radiobutton_o:before {
    content: "\e836"
}

.imwap-edit:before {
    content: "\e254"
}

.imwap-search:before {
    content: "\e8b6"
}

.imwap-share:before {
    content: "\e80d"
}

.imwap-photo:before {
    content: "\e410"
}

.imwap-thumb_down:before {
    content: "\e8db"
}

.imwap-thumb_up:before {
    content: "\e8dc"
}

.imwap-check:before {
    content: "\e5ca"
}

.imwap-check_circle:before {
    content: "\e86c"
}

.imwap-error:before {
    content: "\e000"
}

.imwap-visibility:before {
    content: "\e8f4"
}

.imwap-visibility_off:before {
    content: "\e8f5"
}

.imwap-star:before {
    content: "\e838"
}

.imwap-favorite:before {
    content: "\e87d"
}

.imwap-play_arrow:before {
    content: "\e037"
}

.imwap-pause:before {
    content: "\e034"
}

.imwap-volume_off:before {
    content: "\e04f"
}

.imwap-volume_mute:before {
    content: "\e04e"
}

.imwap-volume_down:before {
    content: "\e04d"
}

.imwap-volume_up:before {
    content: "\e050"
}

.imwap-fullscreen:before {
    content: "\e5d0"
}

.imwap-fullscreen_exit:before {
    content: "\e5d1"
}

.imwap-panorama-fisheye:before {
    content: "\e900"
}

.imwap-Progress2:before {
    content: "\e901"
}

.imwap-insert_drive_file:before {
    content: "\e902"
}

.imwap-folder:before {
    content: "\e91d"
}

.imwap-help:before {
    content: "\e91e"
}

.imwap-loop:before {
    content: "\e91f"
}

.imwap-smile:before {
    content: "\e920"
}

.imwap-happy:before {
    content: "\e921"
}

.imwap-home:before {
    content: "\e922"
}

.imwap-curriculum:before {
    content: "\e923"
}

.imwap-actual-combat:before {
    content: "\e924"
}

.imwap-Route:before {
    content: "\e925"
}

.imwap-Center:before {
    content: "\e926";
    color: #5d5d5d
}

.imwap-Q-n-A:before {
    content: "\e927"
}

.imwap-Notes:before {
    content: "\e928"
}

.imwap-friends:before {
    content: "\e929"
}

.imwap-school:before {
    content: "\e92a"
}

.imwap-set-sns:before {
    content: "\e92b"
}

.imwap-hourglass_empty:before {
    content: "\e92c"
}

.imwap-imooc:before {
    content: "\e92d"
}

.imwap-Answer:before {
    content: "\e92e";
    color: #93999f
}

.imwap-peaple:before {
    content: "\e92f"
}

.imwap-schedule:before {
    content: "\e930"
}

.imwap-feedback:before {
    content: "\e931"
}

.imwap-sync:before {
    content: "\e932"
}

.imwap-qr-code:before {
    content: "\e933"
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wordbreak {
    word-break: break-all;
    word-wrap: break-word
}

html, body {
    height: 100%
}

.searching .marr32 {
    margin-right: 0 !important
}

.searching.padl40 {
    padding-left: .42666667rem !important
}

header {
    width: 100%;
    height: 1.28rem;
    padding-left: .42666667rem;
    padding-right: .42666667rem;
    padding-top: .26666667rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 99999;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgba(7, 17, 27, .1)
}

header.padl40 {
    padding-left: .53333333rem
}

header.opacity {
    background: rgba(7, 17, 27, .4)
}

header .header {
    width: 100%;
    font-size: .32rem;
    line-height: .53333333rem;
    box-sizing: border-box
}

header .logo {
    display: block;
    width: 2.18666667rem;
    height: .64rem;
    margin-top: .05333333rem
}

header .logo img {
    width: 100%
}

header .logo + .header-name {
    margin-top: .16rem
}

header .logo + .header-name:before {
    float: left;
    content: " ";
    border-left: 1px solid #000;
    opacity: .2;
    margin-right: .26666667rem;
    margin-left: .26666667rem;
    margin-top: .10666667rem;
    height: .4rem
}

header .header-tit {
    margin-left: .21333333rem;
    line-height: .74666667rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

header .goback {
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    line-height: .48rem;
    margin-top: .13333333rem
}

header .index-search {
    float: right;
    font-size: 22px;
    color: #2B333B;
    letter-spacing: 0;
    margin-top: .05333333rem;
    line-height: .58666667rem;
    margin-right: .53333333rem
}

[data-dpr="2"] header .index-search {
    font-size: 44px
}

[data-dpr="2.5"] header .index-search {
    font-size: 55px
}

[data-dpr="2.75"] header .index-search {
    font-size: 61px
}

[data-dpr="3"] header .index-search {
    font-size: 66px
}

[data-dpr="4"] header .index-search {
    font-size: 88px
}

header .right-box {
    display: inline-block;
    color: inherit;
    width: .53333333rem;
    height: .53333333rem;
    border-radius: .29333333rem;
    margin-top: .10666667rem;
    font-size: 0;
    overflow: hidden
}

header .right-box img {
    width: 100%;
    height: 100%
}

header .right-box i {
    font-size: 20px
}

[data-dpr="2"] header .right-box i {
    font-size: 40px
}

[data-dpr="2.5"] header .right-box i {
    font-size: 50px
}

[data-dpr="2.75"] header .right-box i {
    font-size: 55px
}

[data-dpr="3"] header .right-box i {
    font-size: 60px
}

[data-dpr="4"] header .right-box i {
    font-size: 80px
}

header .header-share {
    margin-left: .66666667rem
}

header .header-share, header .header-collection, header .header-favorite {
    display: inline-block;
    color: inherit;
    width: .48rem;
    height: .48rem;
    margin-top: .13333333rem;
    margin-right: .66666667rem;
    font-size: 0;
    overflow: hidden
}

header .header-share i, header .header-collection i, header .header-favorite i {
    font-size: 18px
}

[data-dpr="2"] header .header-share i, [data-dpr="2"] header .header-collection i, [data-dpr="2"] header .header-favorite i {
    font-size: 36px
}

[data-dpr="2.5"] header .header-share i, [data-dpr="2.5"] header .header-collection i, [data-dpr="2.5"] header .header-favorite i {
    font-size: 45px
}

[data-dpr="2.75"] header .header-share i, [data-dpr="2.75"] header .header-collection i, [data-dpr="2.75"] header .header-favorite i {
    font-size: 50px
}

[data-dpr="3"] header .header-share i, [data-dpr="3"] header .header-collection i, [data-dpr="3"] header .header-favorite i {
    font-size: 54px
}

[data-dpr="4"] header .header-share i, [data-dpr="4"] header .header-collection i, [data-dpr="4"] header .header-favorite i {
    font-size: 72px
}

header .header-collection.active, header .header-favorite.active {
    color: #FF2D50
}

header .cancel {
    display: none
}

header .search-box {
    /*margin-left: .53333333rem;*/
    background: #F3F5F7;
    border-radius: .10666667rem
}

header .search-box.marl46 {
    margin-left: .61333333rem
}

header .search-box.marr32 {
    margin-right: .42666667rem
}

header .search-box .search-input {
    position: relative;
    width: 6.4rem;
    box-sizing: border-box;
    padding-left: .32rem;
    padding-right: .32rem;
    height: .74666667rem
}

header .search-box .search-input .search {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 14px;
    color: #B7BBBF;
    padding-top: .10666667rem;
    padding-bottom: .10666667rem;
    box-sizing: border-box;
    background: #F3F5F7
}

[data-dpr="2"] header .search-box .search-input .search {
    font-size: 28px
}

[data-dpr="2.5"] header .search-box .search-input .search {
    font-size: 35px
}

[data-dpr="2.75"] header .search-box .search-input .search {
    font-size: 39px
}

[data-dpr="3"] header .search-box .search-input .search {
    font-size: 42px
}

[data-dpr="4"] header .search-box .search-input .search {
    font-size: 56px
}

header .search-box .search-input .label {
    position: absolute;
    left: .32rem;
    top: .16rem;
    width: 1.41333333rem;
    line-height: .53333333rem;
    background-color: #f3f5f7;
    text-align: center;
    font-size: 10px;
    color: #71777D;
    letter-spacing: 0
}

[data-dpr="2"] header .search-box .search-input .label {
    font-size: 20px
}

[data-dpr="2.5"] header .search-box .search-input .label {
    font-size: 25px
}

[data-dpr="2.75"] header .search-box .search-input .label {
    font-size: 28px
}

[data-dpr="3"] header .search-box .search-input .label {
    font-size: 30px
}

[data-dpr="4"] header .search-box .search-input .label {
    font-size: 40px
}

header .search-box .search-input .label + .label {
    left: 1.94666667rem
}

header .search-box .hasnameinput-1 {
    width: 5rem
}

header .search-box .hasnameinput-2 {
    width: 5.22666667rem
}

header .search-box .search-action {
    position: absolute;
    right: .21333333rem;
    top: .16rem;
    font-size: 18px;
    color: #B7BBBF;
    letter-spacing: 0;
    line-height: .48rem;
    bottom: .16rem
}

[data-dpr="2"] header .search-box .search-action {
    font-size: 36px
}

[data-dpr="2.5"] header .search-box .search-action {
    font-size: 45px
}

[data-dpr="2.75"] header .search-box .search-action {
    font-size: 50px
}

[data-dpr="3"] header .search-box .search-action {
    font-size: 54px
}

[data-dpr="4"] header .search-box .search-action {
    font-size: 72px
}

header .search-box .search-action button {
    background: #f3f5f7
}

header .focus .logo {
    display: none
}

header .focus .header-name {
    display: none
}

header .focus .right-box {
    display: none
}

header .focus .goback {
    display: none
}

header .focus .app-load {
    display: none
}

header .focus .search-box {
    width: 100%;
    margin-left: 0;
    background: #fff
}

header .focus .search-box .search-input {
    width: 7.94666667rem !important;
    border: 2px solid #F3F5F7;
    border-radius: .10666667rem;
    height: .85333333rem
}

header .focus .search-box .search-input .label {
    display: none
}

header .focus .search-box .search-input .search {
    background: #fff
}

header .focus .search-box .search-action {
    right: .32rem;
    top: .16rem
}

header .focus .search-box .search-action button {
    background: #fff
}

header .focus .cancel {
    display: inline-block;
    font-size: 14px;
    color: #2B333B;
    letter-spacing: 0;
    line-height: .42666667rem;
    margin-top: .21333333rem;
    margin-left: .42666667rem
}

[data-dpr="2"] header .focus .cancel {
    font-size: 28px
}

[data-dpr="2.5"] header .focus .cancel {
    font-size: 35px
}

[data-dpr="2.75"] header .focus .cancel {
    font-size: 39px
}

[data-dpr="3"] header .focus .cancel {
    font-size: 42px
}

[data-dpr="4"] header .focus .cancel {
    font-size: 56px
}

header .app-load {
    font-size: 12px;
    line-height: .72rem;
    color: #71777D;
    width: 2.02666667rem;
    text-align: center;
    border: 1px solid #71777D;
    border-radius: .10666667rem;
    margin-left: .21333333rem;
    box-sizing: border-box
}

[data-dpr="2"] header .app-load {
    font-size: 24px
}

[data-dpr="2.5"] header .app-load {
    font-size: 30px
}

[data-dpr="2.75"] header .app-load {
    font-size: 33px
}

[data-dpr="3"] header .app-load {
    font-size: 36px
}

[data-dpr="4"] header .app-load {
    font-size: 48px
}

header .app-load span {
    display: inline-block;
    width: 100%
}

.search-record {
    position: relative;
    z-index: 99998;
    background-color: #fff;
    padding-left: .26666667rem;
    padding-right: .26666667rem;
    height: 100%;
    box-sizing: border-box;
    padding-top: 1.28rem
}

.search-record .search-tit {
    font-size: 14px;
    color: #2B333B;
    letter-spacing: 0;
    line-height: .53333333rem;
    margin-top: .26666667rem;
    margin-bottom: .21333333rem
}

[data-dpr="2"] .search-record .search-tit {
    font-size: 28px
}

[data-dpr="2.5"] .search-record .search-tit {
    font-size: 35px
}

[data-dpr="2.75"] .search-record .search-tit {
    font-size: 39px
}

[data-dpr="3"] .search-record .search-tit {
    font-size: 42px
}

[data-dpr="4"] .search-record .search-tit {
    font-size: 56px
}

.search-record dl {
    margin-bottom: .53333333rem
}

.search-record dd {
    float: left;
    margin-right: .16rem;
    margin-bottom: .16rem
}

.search-record dd a {
    display: block;
    font-size: 12px;
    color: #71777D;
    letter-spacing: 0;
    line-height: .48rem;
    padding-top: .16rem;
    padding-bottom: .16rem;
    padding-left: .4rem;
    padding-right: .4rem;
    background: #F3F5F7;
    border-radius: .10666667rem
}

[data-dpr="2"] .search-record dd a {
    font-size: 24px
}

[data-dpr="2.5"] .search-record dd a {
    font-size: 30px
}

[data-dpr="2.75"] .search-record dd a {
    font-size: 33px
}

[data-dpr="3"] .search-record dd a {
    font-size: 36px
}

[data-dpr="4"] .search-record dd a {
    font-size: 48px
}

.header-menu {
    height: 1.28rem;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden
}

.header-menu.fixed {
    position: fixed;
    background: #fff;
    z-index: 999;
    visibility: visible;
    top: 1.28rem
}

.header-menu ul {
    display: flex;
    height: 100%;
    flex: 1;
    padding-left: .4rem;
    padding-right: .4rem;
    justify-content: space-around
}

.header-menu li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative
}

.header-menu li::before {
    display: none;
    content: " ";
    width: .74666667rem;
    height: .05333333rem;
    background: #FF2D50;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.37333333rem
}

.header-menu li.cur::before {
    display: block
}

.header-menu li.cur a {
    color: #FF2D50
}

.header-menu a {
    display: block;
    font-size: 14px;
    color: #71777D;
    letter-spacing: 0;
    padding-top: .37333333rem;
    padding-bottom: .37333333rem
}

[data-dpr="2"] .header-menu a {
    font-size: 28px
}

[data-dpr="2.5"] .header-menu a {
    font-size: 35px
}

[data-dpr="2.75"] .header-menu a {
    font-size: 39px
}

[data-dpr="3"] .header-menu a {
    font-size: 42px
}

[data-dpr="4"] .header-menu a {
    font-size: 56px
}

footer {
    width: 100%;
    height: 1.30666667rem;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px 1px rgba(7, 17, 27, .1);
    z-index: 99997;
    font-size: 0;
    box-sizing: border-box;
    background-color: #fff
}

footer .footer {
    height: 100%;
    color: #93999f;
    text-align: center
}

footer .footer li {
    width: 20%;
    float: left;
    height: 100%
}

footer .footer li a {
    display: block;
    height: 100%;
    color: inherit;
    box-sizing: border-box;
    padding-top: .17333333rem
}

footer .footer li i {
    display: block;
    font-size: 24px;
    margin: auto
}

[data-dpr="2"] footer .footer li i {
    font-size: 48px
}

[data-dpr="2.5"] footer .footer li i {
    font-size: 60px
}

[data-dpr="2.75"] footer .footer li i {
    font-size: 66px
}

[data-dpr="3"] footer .footer li i {
    font-size: 72px
}

[data-dpr="4"] footer .footer li i {
    font-size: 96px
}

footer .footer li span {
    display: inline-block;
    font-size: 10px;
    line-height: .26666667rem;
    margin-top: .08rem
}

[data-dpr="2"] footer .footer li span {
    font-size: 20px
}

[data-dpr="2.5"] footer .footer li span {
    font-size: 25px
}

[data-dpr="2.75"] footer .footer li span {
    font-size: 28px
}

[data-dpr="3"] footer .footer li span {
    font-size: 30px
}

[data-dpr="4"] footer .footer li span {
    font-size: 40px
}

footer .footer li.cur {
    color: #fc3154
}

footer .footer li.cur a {
    color: inherit
}

footer .footer li.cur a i {
    color: #f01414
}

.footer-appload {
    padding-top: .26666667rem;
    padding-bottom: .26666667rem;
    padding-left: .64rem;
    padding-right: .64rem;
    font-size: 14px;
    color: #2B333B;
    letter-spacing: 0;
    line-height: .58666667rem;
    border: 1px solid #D9DDE1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1
}

[data-dpr="2"] .footer-appload {
    font-size: 28px
}

[data-dpr="2.5"] .footer-appload {
    font-size: 35px
}

[data-dpr="2.75"] .footer-appload {
    font-size: 39px
}

[data-dpr="3"] .footer-appload {
    font-size: 42px
}

[data-dpr="4"] .footer-appload {
    font-size: 56px
}

.footer-appload .logo {
    width: .8rem;
    height: .8rem;
    margin-right: .21333333rem;
    vertical-align: middle
}

.footer-appload a {
    border: 1px solid #2B333B;
    border-width: .02666667rem;
    border-radius: .10666667rem;
    padding-top: .02666667rem;
    padding-bottom: .02666667rem;
    padding-left: .26666667rem;
    padding-right: .26666667rem;
    margin-top: .06666667rem
}

.footer-appload .footer-appload-close {
    font-size: 18px;
    color: #71777D;
    letter-spacing: 0;
    margin-left: .42666667rem;
    line-height: .8rem
}

[data-dpr="2"] .footer-appload .footer-appload-close {
    font-size: 36px
}

[data-dpr="2.5"] .footer-appload .footer-appload-close {
    font-size: 45px
}

[data-dpr="2.75"] .footer-appload .footer-appload-close {
    font-size: 50px
}

[data-dpr="3"] .footer-appload .footer-appload-close {
    font-size: 54px
}

[data-dpr="4"] .footer-appload .footer-appload-close {
    font-size: 72px
}

@media (max-width: 321px) {
    .footer-appload {
        font-size: 11px
    }

    [data-dpr="2"] .footer-appload {
        font-size: 22px
    }

    [data-dpr="2.5"] .footer-appload {
        font-size: 28px
    }

    [data-dpr="2.75"] .footer-appload {
        font-size: 30px
    }

    [data-dpr="3"] .footer-appload {
        font-size: 33px
    }

    [data-dpr="4"] .footer-appload {
        font-size: 44px
    }
}

.mask-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .35)
}

.share-box {
    z-index: 100000;
    position: fixed;
    background: #f3f5f7;
    bottom: 0;
    width: 100%
}

.share-box ul {
    overflow: hidden
}

.share-box ul a {
    display: block
}

.share-box ul li {
    float: left;
    margin-top: .66666667rem;
    margin-bottom: .77333333rem;
    text-align: center;
    width: 33%;
    font-size: 1.2rem;
    color: #2b333b
}

.share-box ul li .imwap-qq_o {
    color: #5ca3e1
}

.share-box ul li .imwap-weibo_o {
    color: #f26868
}

.share-box ul li .imwap-wechat_o {
    font-size: 1rem;
    color: #85d16d
}

.share-box ul li .imwap-friends {
    font-size: 1rem;
    color: #ee769c
}

.share-box ul li span {
    display: block;
    font-size: 12px;
    margin-top: .16rem;
    line-height: 1
}

[data-dpr="2"] .share-box ul li span {
    font-size: 24px
}

[data-dpr="2.5"] .share-box ul li span {
    font-size: 30px
}

[data-dpr="2.75"] .share-box ul li span {
    font-size: 33px
}

[data-dpr="3"] .share-box ul li span {
    font-size: 36px
}

[data-dpr="4"] .share-box ul li span {
    font-size: 48px
}

.share-box ul li.share-wechat, .share-box ul li.share-friends {
    margin-top: .8rem
}

.share-box ul li.share-wechat span, .share-box ul li.share-friends span {
    margin-top: .2rem
}

.share-box .btn-share-cancel {
    text-align: center;
    background: #fff;
    display: block;
    font-size: .48rem;
    line-height: 1.33333333rem;
    color: #2b333b
}

.share-box-wx li {
    width: 25% !important;
    font-size: 1.2rem
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-bottom: .32rem
}

.tips-box {
    position: fixed;
    width: 100%;
    bottom: 4rem;
    text-align: center;
    z-index: 10
}

.tips-box .small-tips {
    border-radius: .10666667rem;
    padding-top: .13333333rem;
    padding-bottom: .13333333rem;
    padding-left: .4rem;
    padding-right: .4rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-bottom: .32rem;
    font-size: 14px
}

[data-dpr="2"] .tips-box .small-tips {
    font-size: 28px
}

[data-dpr="2.5"] .tips-box .small-tips {
    font-size: 35px
}

[data-dpr="2.75"] .tips-box .small-tips {
    font-size: 39px
}

[data-dpr="3"] .tips-box .small-tips {
    font-size: 42px
}

[data-dpr="4"] .tips-box .small-tips {
    font-size: 56px
}

.tips-box .small-tips i {
    margin-right: .13333333rem;
    font-size: 18px;
    vertical-align: middle
}

[data-dpr="2"] .tips-box .small-tips i {
    font-size: 36px
}

[data-dpr="2.5"] .tips-box .small-tips i {
    font-size: 45px
}

[data-dpr="2.75"] .tips-box .small-tips i {
    font-size: 50px
}

[data-dpr="3"] .tips-box .small-tips i {
    font-size: 54px
}

[data-dpr="4"] .tips-box .small-tips i {
    font-size: 72px
}

.tips-box .small-tips span {
    vertical-align: middle
}

.tips-box .small-tips i.success {
    color: #00b33b
}

.tips-box .small-tips i.error {
    color: #f01414
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

#wrapper {
    margin-top: 0.7rem;
    padding-bottom: 1.30666667rem
}

#pages-container {
    padding-bottom: .64rem
}

.shizhan-course-rate {
    position: absolute;
    width: .74666667rem;
    height: .48rem;
    font-size: 12px;
    line-height: .48rem;
    color: #fff;
    background-color: #2b333b;
    font-weight: 200;
    text-align: center;
    right: -.10666667rem;
    top: .21333333rem;
    z-index: 5;
    border-top-left-radius: .08rem;
    border-bottom-left-radius: .08rem
}

[data-dpr="2"] .shizhan-course-rate {
    font-size: 24px
}

[data-dpr="2.5"] .shizhan-course-rate {
    font-size: 30px
}

[data-dpr="2.75"] .shizhan-course-rate {
    font-size: 33px
}

[data-dpr="3"] .shizhan-course-rate {
    font-size: 36px
}

[data-dpr="4"] .shizhan-course-rate {
    font-size: 48px
}

.shizhan-course-rate:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 4px solid #2b333b;
    border-right: 4px solid transparent;
    border-width: .10666667rem;
    right: 0;
    bottom: -.10666667rem
}

.loading {
    text-align: center
}

.loading img {
    width: 1rem
}

.load-tip {
    text-align: center;
    font-size: 12px
}

[data-dpr="2"] .load-tip {
    font-size: 24px
}

[data-dpr="2.5"] .load-tip {
    font-size: 30px
}

[data-dpr="2.75"] .load-tip {
    font-size: 33px
}

[data-dpr="3"] .load-tip {
    font-size: 36px
}

[data-dpr="4"] .load-tip {
    font-size: 48px
}

.loading-more {
    display: block;
    width: 4.8rem;
    height: .96rem;
    margin: auto;
    border-radius: .50666667rem;
    line-height: .96rem;
    text-align: center;
    border: 1px solid #d9dde1;
    color: #71777d;
    font-size: 12px
}

[data-dpr="2"] .loading-more {
    font-size: 24px
}

[data-dpr="2.5"] .loading-more {
    font-size: 30px
}

[data-dpr="2.75"] .loading-more {
    font-size: 33px
}

[data-dpr="3"] .loading-more {
    font-size: 36px
}

[data-dpr="4"] .loading-more {
    font-size: 48px
}

.loading-more:hover {
    color: #71777d
}

.loading-more:visited {
    color: #71777d
}

.course-item {
    float: left;
    position: relative;
    width: 4.53333333rem;
    height: 4.26666667rem;
    margin-left: .32rem;
    margin-bottom: .32rem;
    box-shadow: 0 0 10px 0 rgba(7, 17, 27, .1);
    color: #2b333b
}

.course-item a {
    display: block;
    height: 100%;
    color: inherit;
    background-color: #fff;
    border-radius: .13333333rem;
    overflow: hidden
}

.course-item .price-box {
    position: absolute;
    bottom: .32rem
}

.course-item .price-box .now-price {
    margin-right: .21333333rem;
    color: #FF2D50;
    font-size: 10px;
    letter-spacing: 0;
    line-height: .53333333rem
}

[data-dpr="2"] .course-item .price-box .now-price {
    font-size: 20px
}

[data-dpr="2.5"] .course-item .price-box .now-price {
    font-size: 25px
}

[data-dpr="2.75"] .course-item .price-box .now-price {
    font-size: 28px
}

[data-dpr="3"] .course-item .price-box .now-price {
    font-size: 30px
}

[data-dpr="4"] .course-item .price-box .now-price {
    font-size: 40px
}

.course-item .price-box .student-price {
    border: 1px solid rgba(255, 45, 80, .2);
    border-radius: .05333333rem;
    border-width: .02666667rem;
    padding-top: .08rem;
    padding-bottom: .08rem;
    padding-left: .10666667rem;
    padding-right: .10666667rem;
    text-align: center;
    font-size: 10px;
    color: #ff2d50;
    line-height: 1
}

[data-dpr="2"] .course-item .price-box .student-price {
    font-size: 20px
}

[data-dpr="2.5"] .course-item .price-box .student-price {
    font-size: 25px
}

[data-dpr="2.75"] .course-item .price-box .student-price {
    font-size: 28px
}

[data-dpr="3"] .course-item .price-box .student-price {
    font-size: 30px
}

[data-dpr="4"] .course-item .price-box .student-price {
    font-size: 40px
}

.course-item .price-box .student-price p {
    height: .26666667rem;
    line-height: .30666667rem
}

.course-item .price-box .student-price .price {
    margin-left: .10666667rem;
    color: #2B333B
}

.course-item .price-box .origin-price {
    margin-left: .05333333rem;
    font-size: 10px;
    color: #B7BBBF;
    line-height: .53333333rem;
    text-decoration: line-through
}

[data-dpr="2"] .course-item .price-box .origin-price {
    font-size: 20px
}

[data-dpr="2.5"] .course-item .price-box .origin-price {
    font-size: 25px
}

[data-dpr="2.75"] .course-item .price-box .origin-price {
    font-size: 28px
}

[data-dpr="3"] .course-item .price-box .origin-price {
    font-size: 30px
}

[data-dpr="4"] .course-item .price-box .origin-price {
    font-size: 40px
}

.course-item .surface {
    width: 100%;
    height: 2.53333333rem;
    vertical-align: middle
}

.course-item .desc-box {
    position: relative;
    margin-top: .21333333rem;
    margin-left: .32rem;
    margin-right: .32rem
}

.course-item .desc-box .h2 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

[data-dpr="2"] .course-item .desc-box .h2 {
    font-size: 28px
}

[data-dpr="2.5"] .course-item .desc-box .h2 {
    font-size: 35px
}

[data-dpr="2.75"] .course-item .desc-box .h2 {
    font-size: 39px
}

[data-dpr="3"] .course-item .desc-box .h2 {
    font-size: 42px
}

[data-dpr="4"] .course-item .desc-box .h2 {
    font-size: 56px
}

.course-item .desc-box .person-num {
    color: #b7bbbf
}

.course-item .desc-box .person-num em {
    margin-left: .06666667rem;
    margin-right: .06666667rem
}

.course-item .desc-box .detail {
    font-size: 10px
}

[data-dpr="2"] .course-item .desc-box .detail {
    font-size: 20px
}

[data-dpr="2.5"] .course-item .desc-box .detail {
    font-size: 25px
}

[data-dpr="2.75"] .course-item .desc-box .detail {
    font-size: 28px
}

[data-dpr="3"] .course-item .desc-box .detail {
    font-size: 30px
}

[data-dpr="4"] .course-item .desc-box .detail {
    font-size: 40px
}

.coding-css {
    height: 5.33333333rem
}

.coding-css .desc-box {
    position: relative;
    height: 2.53333333rem
}

.coding-css .desc-box .h2 {
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal
}

.coding-css .desc-box .detail {
    position: absolute;
    bottom: .85333333rem;
    line-height: .26666667rem;
    margin-top: .32rem;
    margin-bottom: .21333333rem;
    width: 100%
}

.check-type-btn {
    display: block;
    padding-top: .26666667rem;
    padding-bottom: .26666667rem;
    margin: auto;
    width: 4.8rem;
    letter-spacing: .05333333rem;
    text-align: center;
    line-height: .42666667rem;
    border: 1px solid #D9DDE1;
    border-radius: .48rem
}