.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wordbreak {
    word-break: break-all;
    word-wrap: break-word
}

#pages-container {
    position: relative
}

.pr {
    position: relative
}

.course-class {
    background-color: #fff;
    padding-top: .26666667rem;
    padding-bottom: .26666667rem;
    padding-left: .53333333rem;
    padding-right: .53333333rem;
    border-bottom: 1px solid #D9DDE1
}

.course-class a {
    display: inline-block;
    font-size: 12px;
    line-height: .42666667rem;
    color: #71777D;
    margin-right: .64rem
}

[data-dpr="2"] .course-class a {
    font-size: 24px
}

[data-dpr="2.5"] .course-class a {
    font-size: 30px
}

[data-dpr="2.75"] .course-class a {
    font-size: 33px
}

[data-dpr="3"] .course-class a {
    font-size: 36px
}

[data-dpr="4"] .course-class a {
    font-size: 48px
}

.course-class a i {
    font-size: 14px;
    line-height: .37333333rem;
    margin-left: .05333333rem;
    display: inline-block;
    vertical-align: bottom;
    transition: all .3s
}

[data-dpr="2"] .course-class a i {
    font-size: 28px
}

[data-dpr="2.5"] .course-class a i {
    font-size: 35px
}

[data-dpr="2.75"] .course-class a i {
    font-size: 39px
}

[data-dpr="3"] .course-class a i {
    font-size: 42px
}

[data-dpr="4"] .course-class a i {
    font-size: 56px
}

.course-class .slideshow {
    color: #f01414
}

.course-class .slideshow i {
    transform: rotate(180deg)
}

.course-class .hide-switch {
    position: relative;
    display: inline-block;
    width: .64rem;
    height: .21333333rem;
    border-radius: .21333333rem;
    background: #D9DDE1;
    border: 1px solid #71777D;
    box-sizing: border-box;
    vertical-align: middle;
    margin-left: .21333333rem
}

.course-class .hide-switch a {
    position: absolute;
    width: .32rem;
    height: .32rem;
    border-radius: .16rem;
    background: #71777D;
    top: -.06666667rem;
    right: -.32rem;
    transition: all .3s
}

.course-class .hide-switch.cur {
    background: rgba(32, 204, 133, .2);
    border: 1px solid #20CC85
}

.course-class .hide-switch.cur a {
    left: auto;
    right: -.66666667rem;
    background: #20CC85
}

.course-class-box {
    position: absolute;
    display: none;
    top: 1.28rem;
    left: 0;
    background-color: #fff;
    width: 100%;
    font-size: 12px;
    color: #71777D;
    padding-top: .32rem;
    padding-bottom: .32rem;
    border-bottom: 1px solid #D9DDE1;
    z-index: 6
}

[data-dpr="2"] .course-class-box {
    font-size: 24px
}

[data-dpr="2.5"] .course-class-box {
    font-size: 30px
}

[data-dpr="2.75"] .course-class-box {
    font-size: 33px
}

[data-dpr="3"] .course-class-box {
    font-size: 36px
}

[data-dpr="4"] .course-class-box {
    font-size: 48px
}

.course-class-box dd {
    text-align: center
}

.course-class-box a {
    display: block;
    line-height: 1.01333333rem
}

.course-class-box a.cur {
    color: #F01414
}

.course-list {
    padding-top: .64rem;
    padding-bottom: .64rem;
    padding-left: .53333333rem;
    padding-right: .53333333rem
}

.course-list dd {
    margin-bottom: .64rem
}

.course-list dd:last-child {
    position: relative;
    margin-bottom: 0
}

.course-list a {
    display: block
}

.course-list img {
    width: 2.88rem;
    height: 1.92rem;
    border-radius: .0848rem;
    background-color: #ccc
}

.course-list .course-info {
    width: 5.62666667rem;
    margin-left: .42666667rem
}

.course-list .course-info .tit {
    font-size: 14px;
    color: #2B333B;
    line-height: .53333333rem;
    margin-bottom: .10666667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

[data-dpr="2"] .course-list .course-info .tit {
    font-size: 28px
}

[data-dpr="2.5"] .course-list .course-info .tit {
    font-size: 35px
}

[data-dpr="2.75"] .course-list .course-info .tit {
    font-size: 39px
}

[data-dpr="3"] .course-list .course-info .tit {
    font-size: 42px
}

[data-dpr="4"] .course-list .course-info .tit {
    font-size: 56px
}

.course-list .course-info .desc {
    font-size: 10px;
    line-height: .37333333rem;
    margin-bottom: .10666667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #71777D;
    word-break: break-all;
    word-wrap: break-word
}

[data-dpr="2"] .course-list .course-info .desc {
    font-size: 20px
}

[data-dpr="2.5"] .course-list .course-info .desc {
    font-size: 25px
}

[data-dpr="2.75"] .course-list .course-info .desc {
    font-size: 28px
}

[data-dpr="3"] .course-list .course-info .desc {
    font-size: 30px
}

[data-dpr="4"] .course-list .course-info .desc {
    font-size: 40px
}

.course-list .course-info .info {
    font-size: 10px;
    line-height: .37333333rem;
    color: #71777D
}

[data-dpr="2"] .course-list .course-info .info {
    font-size: 20px
}

[data-dpr="2.5"] .course-list .course-info .info {
    font-size: 25px
}

[data-dpr="2.75"] .course-list .course-info .info {
    font-size: 28px
}

[data-dpr="3"] .course-list .course-info .info {
    font-size: 30px
}

[data-dpr="4"] .course-list .course-info .info {
    font-size: 40px
}

.course-list .course-info .info label {
    margin-right: .32rem
}

.course-skill {
    margin: .42666667rem;
    border-bottom: 1px solid #e0e0e0
}

.course-skill dl {
    margin-left: -.42666667rem;
    margin-right: -.42666667rem;
    padding-top: .64rem;
    line-height: 1;
    font-weight: 700;
    overflow: hidden
}

.course-skill dl dt {
    text-indent: .05333333rem;
    margin-left: .42666667rem;
    margin-bottom: .66666667rem;
    font-size: 14px
}

[data-dpr="2"] .course-skill dl dt {
    font-size: 28px
}

[data-dpr="2.5"] .course-skill dl dt {
    font-size: 35px
}

[data-dpr="2.75"] .course-skill dl dt {
    font-size: 39px
}

[data-dpr="3"] .course-skill dl dt {
    font-size: 42px
}

[data-dpr="4"] .course-skill dl dt {
    font-size: 56px
}

.course-skill dl dd {
    margin-bottom: .66666667rem;
    float: left;
    width: 33%;
    text-align: center;
    font-size: 12px
}

[data-dpr="2"] .course-skill dl dd {
    font-size: 24px
}

[data-dpr="2.5"] .course-skill dl dd {
    font-size: 30px
}

[data-dpr="2.75"] .course-skill dl dd {
    font-size: 33px
}

[data-dpr="3"] .course-skill dl dd {
    font-size: 36px
}

[data-dpr="4"] .course-skill dl dd {
    font-size: 48px
}

.course-skill dl dd a {
    text-decoration: none !important;
    color: #2b333b;
    display: block
}

.course-skill dl dd img {
    width: .96rem;
    height: .96rem;
    border-radius: 50%
}

.course-skill dl dd span {
    display: block;
    padding-top: .26666667rem
}

.course-block .course-left {
    float: left;
    min-width: 2.08rem;
    width: 2.08rem;
    height: auto;
    overflow-y: auto;
    min-height: 100%
}

.course-block .course-left .li-item {
    background: #fff;
    text-align: center;
    position: relative;
    line-height: 1.6rem;
    height: 1.6rem
}